<h1>{{ nombre }}</h1>

<dl>
    <td> Nombre: </td>
    <dd> {{ nombre }} </dd>

    <td> Edad: </td>
    <dd> {{ edad }} </dd>

    <td> Función: </td>
    <dd> {{ obtenerNombre() }} </dd>

    <td> Capitalizado: </td>
    <dd> {{ capitalizado }} </dd>
</dl>

<!-- Conclusón: La función cambiar nombre hace que vuelva a correr todo el heroe.component -->
<!-- de esta manera la función obtenerNombre() y el geter corren con el nuevo valor de la propiedad, en este caso: nombre -->
<button (click)="cambiarNombre()">
    Cambiar Héroe
</button>

<button (click)="cambiarEdad()">
    Cambiar Edad
</button>